<h1><%= @landmark.name %></h1>
<p>Year Completed: <%= @landmark.year_completed %></p>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="landmark[name]" id="name"></p>
  <input type="text" name="landmark[year_completed]" id="year_completed">


  <input type="submit" name="submit" value="Edit Landmark">
</form>
