<h1>New Figure</h1>
<form action="/landmarks" method="POST">
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <input type="submit" name="submit" value="Create New Landmark">
</form>
