<h1>Name: <%=@figure.name%></h1>
<form action="/figures/<%=@figure.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete">
</form>
